@model List<Raunstrup.UI.Models.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tilføj Item til Project</h1>
<form asp-controller="Item" asp-action="AddAssignedProjectItem">
    <p>
        Søg på varenavn: <input type="text" name="SearchString">
        <input type="submit" value="Søg" />
    </p>
</form>
<p>
    <!--<a asp-action="Create">Tilføj Item til Project</a>-->
</p>


<form method="post" asp-action="AddAssignedProjectItemToProject">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Pris
                </th>
                <th>
                    Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
            <tr>

                <td><input type="text" asp-for="@Model[i].Name" /></td>
                <td><input type="text" asp-for="@Model[i].Price" /></td>
                <td><input type="text" asp-for="@Model[i].Amount" /></td>
                <td><input type="text" asp-for="@Model[i].projectID" hidden /></td>
                <td><input type="text" asp-for="@Model[i].Id" hidden /></td>
            </tr>
            }
        </tbody>
    </table>
    <button>Update</button>
</form>

