@model List<Raunstrup.UI.Models.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Indberet Materialer</h1>

<form asp-controller="Item" asp-action="AddUsedProjectItem">
    <p>
        Søg på varenavn: <input type="text" name="SearchString">
        <input type="submit" value="Søg" />
    </p>
</form>

<p>
    <!--<a asp-action="Create">Tilføj Item til Project</a>-->
</p>

<form method="post" asp-action="AddUsedProjectItemToProject">
    <table class="table">

        <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Pris
                </th>
                <th>
                    Antal
                </th>
                <th></th>
            </tr>
        </thead>

       @for (var i = 0; i < Model.Count(); i++)
        {
           <tr>

               <td><input type="text" asp-for="@Model[i].Name" /></td>
               <td><input type="text" asp-for="@Model[i].Price" /></td>
               <td><input type="text" asp-for="@Model[i].Amount" /></td>
               <td><input type="text" asp-for="@Model[i].Id" hidden /></td>
               <td><input type="text" asp-for="@Model[i].projectID" hidden /></td>
           </tr>
        }
    </table>
    <button type="submit" class="btn btn-primary">Indberet</button>
</form>

<br />
<p>
    <a asp-action="Details" asp-controller="Project" asp-route-id="@Model[0].projectID">Tilbage til projektet</a>
</p>