@model IEnumerable<Raunstrup.UI.Models.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Item</h1>

<p>
    <a asp-action="Create">Opret Ny</a>


</p>
<form asp-controller="Item" asp-action="Index">
    <p>
        Søg på varenavn: <input type="text" name="SearchString">
        <input type="submit" value="Søg" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Pris
            </th>
            <th>
                Aktiv
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ændre</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
