@model List<Raunstrup.UI.Models.EstWorkingHoursEmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tilføj medarbejder til Project</h1>
<form asp-controller="Employee" asp-action="AddProjectEmployee">
    <p>
        Søg på varenavn: <input type="text" name="SearchString">
        <input type="submit" value="Søg" />
    </p>
</form>
<p>

</p>
<form method="post" asp-action="AddProjectEmployeeToProject">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Telefonnummer
                </th>
                <th>
                    Type
                </th>
                <th>
                    Antal Timer
                </th>
            </tr>

            
        </thead>
        <tbody>

            @for (var i = 0; i < Model.Count(); i++)
            {
            <tr>

                <td>@Model[i].Employee.Name</td>
                <td>@Model[i].Employee.Phone</td>
                <td>@Model[i].Employee.Type.Title</td>
                <td>
                    <input type="text" asp-for="@Model[i].EstWorkingHours" />
                </td>
                <td><input type="text" asp-for="@Model[i].ProjectId" hidden/></td>
                <td><input type="text" asp-for="@Model[i].Id" hidden /></td>
            </tr>
            }



        </tbody>
        </table>
    <button>Update</button>

</form>
