@model Raunstrup.UI.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

            Navn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">

            Telefon
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">

            Titel
        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">

            Speciale
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in @Model.Specialties)
            {
                @item.Title

            }
        </dd>

        <dt class="col-sm-2">
            Tilsynsførende?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Name)
        </dd>
        <dt class="col-sm-2">
            Afdeling
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            Projektor
        </dt>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.EmployeesProjectList)*@
        </dt>
        <dd class="col-sm-10">
            @*//bruges i specialities*@
            @foreach (var item in @Model.Projects)
            {
                @item.Description

            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ret</a> |
    <a asp-action="Index">Gå til Medarbejderliste</a>
</div>
