@model IEnumerable<Raunstrup.UI.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Medarbejder</h1>
<form asp-controller="Employee" asp-action="Index">
    <p>
        Søg på mederabejdernavn: <input type="text" name="SearchString">
        <input type="submit" value="Søg" />
    </p>
</form>
<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Telefon
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Active)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>*@
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
