@model Raunstrup.UI.Models.CustomerDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer for @Model.Name</h1>

<div>

    <hr />
   

    <dl class="row">
        <dt class="col-sm-2">
            Navn

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Telefon
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            Tilknyttede projekter
        </dt>
        <dd class="col-sm-10">
            @foreach (var project in Model.Projects)
            {
            <div>
                <a href="/../project/Details/@project.Id"> @project.Description</a>
            <br />
            </div>
                    }
        </dd>

        @*<dt class="col-sm-2">
            Aktiv
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>*@
        <dt class="col-sm-2">
            Kundetype
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDiscountType.Name)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ret</a> |
    <a asp-action="Index">Tilbage til oversigt</a>
</div>
