@model Raunstrup.UI.Models.CustomerDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer for @Model.Name</h1>

<div>

    <hr />
   

    <dl class="row">
        <dt class="col-sm-2">
            Navn

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Telefon
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

      
        <dt class="col-sm-2">
            Kundetype
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDiscountType.Name)
        </dd>


    </dl>
</div>



<h4>Tilknyttede projekter</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Beskrivelse
            </th>
            <th>
                Startdato
            </th>

            <th>
                Slutdato
            </th>
          
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                  
                <td>

                    <a asp-action="Details" asp-controller="Project" asp-route-id="@item.Id">Detaljer</a>

                </td>
            </tr>
        }
    </tbody>



</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ret</a> |
    <a asp-action="Index">Tilbage til oversigt</a>
</div>