@model IEnumerable<Raunstrup.UI.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 id="customer_index_headline">Kundeoversigt</h1>

<p>
    <a asp-action="Create">Opret ny kunde</a>
</p>
<form asp-controller="Customer" asp-action="Index">
    <p>
        Søg på kundenavn: <input type="text" name="SearchString">
        <input type="submit" value="Søg" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Adresse
            </th>
            <th>
                Telefonnummer
            </th>
            <th>
                Email
            </th>
          

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
          

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ret</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detajler</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
