@model Raunstrup.UI.Models.ProjectViewModel

@{
    ViewData["Title"] = "Slet projekt";
}

<h1>Slet Projekt</h1>

<h3 style="color:red">Er du sikker på at du vil slette projektet?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Start Dato
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Slut Dato
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            Pris
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Beskrivelse
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.Active) 
        </dd>
        <dt class = "col-sm-2">
            Fast Pris
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFixedPrice)
        </dd>
        <dt class = "col-sm-2">
            Accepteret
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt class = "col-sm-2">
            Færdig
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDone)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Rowversion)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.Rowversion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til listen over Projekter</a>
    </form>
</div>
