@model IEnumerable<Raunstrup.UI.Models.ProjectViewModel>

@{
    ViewData["Title"] = "Projekter";
}

<h1 id="project_index_headline">Projektoversigt</h1>

<p>
    <a asp-action="Create">Opret nyt projekt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Startdato
            </th>
            <th>
                Slutdato
            </th>
            <th>
                Pris
            </th>
            <th>
                Estimeret kørsel
            </th>
            <th>
                Beskrivelse
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Active)
        </th>*@

            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <th>
                   Fast pris
                </th>
                <th>
                    Accepteret
                </th>
                <th>
                    Færdig
                </th>
            }
            @*<th>
            @Html.DisplayNameFor(model => model.Rowversion)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTdriving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>*@
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsFixedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
            }
            @*<td>
            @Html.DisplayFor(modelItem => item.Rowversion)
        </td>*@
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Ret</a> <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                {
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Slet</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
